

h1, {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


.header{
    background: url('../img/banner.jpg') no-repeat fixed;
    
}
.bg-color
{
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 650px;
}

.navbar-default {
    background-color: transparent;
    border:0px;
    padding: 20px 0; 
    transition: all 0.3s;
}


.logo-dec
{
    color: orange;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.navbar-brand {
    padding: 0px;
    font-size: 24px;
    padding: 15px 0px;
    margin-top: 6px;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 10px;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > .active > a {
    color: #be9e21;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
   
    color: orange;
}



.navbar-default .navbar-nav > li > a{
    line-height: 22px;
    text-align: center;
}
.container1{
	height:500px;
	width:100%;
	background:black;
	padding-top:150px;
	padding-left:170px;
}
.container1_1{
	padding-left:380px;
	color:white;
	font-size:20px;
	
}
.container1_2{
	margin-top:50px;
	padding-left:30px;
	color:red;
	font-size:18px;
	padding-right:100px;
}
.container1_3{
	
}
.button1{
	height:60px;
	width:100px;
	border:1px solid white;
	color:white;
	padding-left:10px;
	margin-left:440px;
	margin-top:50px;
	
	background:black;
	font-size:16px;
	text-decoration:none;
}
.button1:hover{
	background:white;
	color:black;
}
.faq{
	height:400px;
	width:100%;
	background:grey;
	color:black;
	
}
.container2_1{
	width:35%;
	height:400px;
	float:left;
	padding-left:90px;
	padding-top:100px;
	color:black;
	
}
.container2_2{
	width:63%;
	height:400px;
	color:black;
	float:right;
	padding-top:65px;
	padding-left:20px;
}
.textarea1{
	width:90%;
	height:40px;
	margin-top:08px;
	cursor:pointer;
	padding-left:10px;
	font-size:20px;
}
